body{ 
margin : 0px;
font-family : 'poppins', sans-serif;
line-height : 1,6 ;
background-color: rgba(114, 12, 209, 0.678);
}

.hero-section{
    /*ini adalaha komentar*/
    /*atur margin dan ukuran nya */
    width : 100%vh;
    height : 100vh;

    /*atur backgroud */
    background-color: pink;
    background-size: center;

    /*atur tata letak / flexboc*/
    display : flex;
    flex-direction: column;
    justify-content: center; /*ini untuk mengatur tata letak secara vertikal */
    align-items : "center"; /*ini untuk mengatur tata letak secara horizontal */
    text-align : center; /*mengautur teks agar ditengah */

    color : white; /* mengatur warna teks */
    padding : 0 20px; /*agar tidak terlalu kesamping */
    box-sizing : border-box ; /*agar padding tidak melebar */

}

 .section h1{
    font-size :3.5px;
    margin-bottom : 200px;
    text-shadow : 2px 2px 3px rgba(0, 0, 0, 0.7)
}

.section h2{
    font-size : 1.2;
    max-width : 800px ;
    margin-bottom : 50px;
    text-shadow : 1px 1px 3px rgba(0, 1, 1, 0.6)
}

